<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hi</h1>
        <h1>activity: <%= activity.activity%></h1>
        <h1>accessibility: <%= activity.accessibility %></h1>
        <h1>kid friendly: <%= activity.kidFriendly %></h1>
        <h1>link: <%= activity.link %></h1>
</body>
</html>